@model BookTickets.Models.Showtime

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Showtime</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thoigianchieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thoigianchieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMovieNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMovieNavigation.NameMovie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRoomNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRoomNavigation.IdRoom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdShowtime">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
