@model BookTickets.Models.Oder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Oder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dathanhtoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dathanhtoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.HoTen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOder">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
