@model IEnumerable<BookTickets.Models.Oder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content" style="height:max-content; width:max-content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Đơn hàng</h1>
            <p>
                <a asp-action="Create">Create New</a>
            </p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Dữ liệu</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Thanh toán</th>
                                    <th>Ngày đặt</th>
                                    <th>Tên Khách hàng</th>
                                    <th>  </th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@item.IdOder</th>
                                            <td>@item.Dathanhtoan</td>
                                            <td>@item.Ngaydat</td>
                                            <td>@item.MaKhNavigation.HoTen</td>

                                            <td>
                                                <a class="btn btn-warning btn-circle btn-sm" asp-controller="AdminOders" asp-action="Edit" asp-route-id="@item.IdOder">Edit</a>
                                                <a class="btn btn-danger btn-circle btn-sm" asp-controller="AdminOders" asp-action="Delete" asp-route-id="@item.IdOder">Delete</a>
                                            </td>
                                        </tr>

                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
